@import './root.scss';
@import './NavItems.scss';
@import './MainMenu.scss';
@import './SignIn.scss';
@import './Input.scss';
@import './Button.scss';
@import './Table.scss';
@import './TableItems.scss';
@import './Select.scss';
@import './Dropdown.scss';
@import './Backdrop.scss';
@import './Modal.scss';
@import './AddProfile.scss';
@import './AddAddress.scss';
@import './AddOtherDetails.scss';
@import './Spinner.scss';
@import './Profile.scss';
@import './Print.scss';
@import './Businesses.scss';
@import './AddBusiness.scss';
@import './Id.scss';

.App {
  box-sizing: border-box;
  height: 100vh;

  div {
    box-sizing: border-box;
  }
}
