.BusinessPage {
  background: url(../assets/images/bamboo.jpg) no-repeat !important;
  background-size: cover;

  div {
    .BusinessPagePicture {
      border-radius: 10px;
      border: 1px solid black;
      height: 192px;
      width: 192px;
    }

    .RightThumbMark {
      border: 1px solid black;
      height: 96px;
      width: 192px;
    }

    img {
      height: 96px;
      width: 96px;
    }
    .BusinessPageContent {
      border: 1px solid black;
      border-radius: 20px;
    }

    div {
      h4 {
        font-family: inherit;
      }

      div {
        p {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}
