.ButtonComponent {
  background-color: white;
  border: 1px solid #181c3a;
  color: #181c3a;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 20px;
  width: 30%;
  transition: .3s ease-out;

  &:hover {
    background-color: $theme-color;
    color: white;
    border: 1px solid white;
  }

  a {
    text-decoration: none;
    color: #181c3a;
    transition: .3s ease-out;

    &:hover {
      color: white;
    }
  }
}
