.DropdownComponent {
  display: flex;

  .DropdownList {
    padding: 12px 0;
    color: #090d28;
    position: absolute;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #090d28;

    li {
      padding: 0 12px;
      box-sizing: border-box;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
