.IdPage {
  // height: 480px;
  // width: 288px;
  p {
    font-size: 10px;
  }

  .IdName {
    font-size: 15px;
    padding: 3px;
    background-color: white !important;

    p:first-child {
      font-size: 18px;
    }

    p {
      text-align: left;
    }
  }

  div {
    .IdPagePicture {
      border: 1px solid black;
      height: 120px;
      width: 95px;
    }

    .IdPageThumb {
      border-radius: 10px;
      border: 1px solid black;
      height: 60px;
      width: 95px;
      background-color: white !important;
    }

    .IdMain {
      align-items: flex-end;

      span {
        font-weight: bold;
      }
    }

    img {
      height: 48px;
      width: 48px;
    }

    .IdPageContent {
      border: 1px solid black;
      border-radius: 3px;
      padding: 0;
      width: 360px;
      height: 260px;
      background: url(../assets/images/bamboo.jpg) no-repeat !important;

      .IdHeader {
        p {
          font-size: 8px;
        }
      }
    }

    div {
      h6 {
        font-family: inherit;
      }
    }
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}
