.NavItemsComponent {
  margin: 0;
  padding: 24px 12px;
  list-style: none;
  display: flex;
  height: 88.7vh;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #181c3a;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid #eee;

  .BarangayLogo {
    padding: 8px;
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: $theme-color;
    width: 40%;
    border-radius: 30px;
  }

  div {
    h4 {
      color: $theme-color;
      text-align: left;
      font-weight: bold;
      font-family: 'Baloo Tamma 2', cursive;
      display: block;
    }

    .NavItem {
      margin: 0;
      box-sizing: border-box;
      display: block;
      width: auto;

      .auth {
        font-size: 2em;
      }

      a {
        color: white;
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 16px;
        transition: .5s ease-out;
      }

      a:hover,
      a.active {
        color: $theme-color;
        font-weight: bold;
      }
    }
  }
}
