.SignInPage {
  border-radius: 30px;
  background-color: #181c3a;
  height: 88.7vh;
  box-sizing: border-box;
  text-align: center;
  width: 100%;

  .SignInIcon {
    color: $theme-color;
  }

  .SignInForm {
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
  }
}
