.TableComponent {
  overflow: auto;
  thead {
    tr {
      th {
        color: white;
        font-weight: bold;
        font-family: inherit;
        border-bottom: 1px solid white;
      }
    }
  }
}
